<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656421302/Zinma2.0/DJI_0874_1_hflxst.png", class:"d-block w-100") %>
      <button>HOLAA!!</button>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656422957/Zinma2.0/Frame_205_tamood.png", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1656422956/Zinma2.0/Frame_206_ux6sbv.png", class:"d-block w-100") %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
