<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
  <div class="carousel-indicators">
    <button type="button" class="carousel-points active" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" class="carousel-points " data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" class="carousel-points " data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655731274/Zinma2.0/matt-benson-rHbob_bEsSs-unsplash_dba4bx.jpg", class:"d-block w-100 img-carrousel") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655731250/Zinma2.0/kelly-sikkema-ettyLtH2GjU-unsplash_m26gq5.jpg", class:"d-block w-100 img-carrousel") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1655731274/Zinma2.0/matt-benson-rHbob_bEsSs-unsplash_dba4bx.jpg", class:"d-block w-100 img-carrousel") %>
    </div>
  </div>
</div>
