<div class="container hei">
  <script src="https://vjs.zencdn.net/4.0.4/video.js"></script>

    <video id="my_video_1" class="video-js vjs-default-skin"
        controls preload="none" data-setup='{}' width="840px" height="100%"
        poster='https://res.cloudinary.com/ddlmgs04n/image/upload/v1660737563/Zinma2.0/DSC06657_1_w7casb.png'>
      <source src="https://res.cloudinary.com/ddlmgs04n/video/upload/v1660704146/Zinma2.0/ZINMA_horizontal_1_-_FINAL_1_jspw6b.mp4" type='video/mp4' />
      <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
    </video>


</div>
