<div class="container hei">
  <script src="https://vjs.zencdn.net/4.0.4/video.js"></script>
    <video id="my_video_1" class="video-js vjs-default-skin"
        controls preload="none" data-setup='{}' width="840px" height="100%"
        poster='https://storage.googleapis.com/zinmaimages/DSC06657_1_w7casb.png'>
      <source src="https://storage.googleapis.com/zinmaimages/ZINMA_horizontal_1_-_FINAL_1_jspw6b.mp4" type='video/mp4' />
      <source src="https://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
    </video>
</div>
