<div class="nosotros-banner">
  <h1><%= t 'nosotros-title' %></h1>
</div>

<div class="intro">
  <div class="row">
    <div class="col-6">
    </div>

    <div class="col-6">
    </div>
  </div>
</div>
