<%# <div class="">
  <br>
  <% flash.each do |key, message| %>
    <%# <p class="alert alert-<%= key %>">
    <%# <%= message %>
    <%# </p> %>
  <%# <% end %>
<%# </div> %>

<div class="skinny_wrapper wrapper_padding">
  <h1>Thanks you for your message!</h1>


</div>
