<div class="container d-flex justify-content-center">
  <div class="message">
    <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658233903/Zinma2.0/A7405255_1_nduwk4.png", style:"border-radius: 8px;") %>
    <div class="d-flex flex-column align-items-center">
      <h1 class="title-messa">¡Muchas gracias!</h1>
      <br>
      <p style="width: 400px; text-align: center;">En breve nos pondremos en contacto con vos. También podés comunicarte con nosotros a través de nuestros teléfonos o mandando un email.</p>
    </div>
  </div>
</div>
