<div>
 <div class="banner-404">
    <h1 class="font-404 mt-5">404</h1>
    <p class="desc-404 mt-4">No encontramos la página que estás buscando. <br>
      Probá cambiando la búsqueda o volver a la pantalla principal.</p>
  </div>
</div>
