<div>
 <div class="banner-404">
    <h1 class="font-404 mt-5">404</h1>
    <p class="desc-404 mt-4">No encontramos la página que estás buscando. <br>
      Probá cambiando la búsqueda o volver a la pantalla principal.</p>
  </div>
</div>


<%#
<div id="cards-wrapper">
  <div class="card133">
    <div id="cast">
          <%= image_tag("https://res.cloudinary.com/ddlmgs04n/image/upload/v1660848333/Zinma2.0/Frame_204_rdcdx8.svg", id:"" ) %>
          <%# <div class="">
            <h2>Sorgo</h2>
            <div class="d-flex card-wow ">
              <p  class="boton2 mx-3 m-2"><%= t 'conoce-pro' %></p>
              <%# <svg xmlns="http://www.w3.org/2000/svg" width="48" height="18" viewBox="0 0 48 18" fill="none">
                <path d="M0 9.99997H43.586L37.293 16.293L38.707 17.707L47.414 8.99997L38.707 0.292969L37.293 1.70697L43.586 7.99997H0V9.99997Z" fill="#A58F73"/>
              </svg>
            </div>
          </div>
    </div>
  </div>
</div> %>
