.carousel-points {
  width: 14px;
  border-radius: 50%;
  height: 14px;
  box-sizing: content-box;
  flex: 0 1 auto;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel {
  z-index: -1;
}

 .img-carrousel {
    position: relative;
    top: 100px;
 }

.ban {
  background-image: url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1656421302/Zinma2.0/DJI_0874_1_hflxst.png);
  height: 90vh;
  width: 100%;
}
.ban-1 {
  color: white;
  font-family: 'Trump Gothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 24.48px;
}
.line {
  border: 1px solid white;
  opacity: 1;
}
.ban-2 {
  font-family: 'Trump Gothic';
  font-size: 150px;
  font-weight: 700;
  line-height: 100.72%;;
  color: #FFFFFF;
}
.ban-3 {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #FFFFFF;
  width: 547px;
  margin-top: 30px;
}
.boton-w {
  background: #FFFFFF;
  border: 1px solid #7F816D;
  border-radius: 28px;
  color: rgba(127, 129, 109, 1);
  text-decoration: none;
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 18px 40px;
  gap: 12px;
}

.ban2{
  background-image: url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1656422957/Zinma2.0/Frame_205_tamood.png);
  height: 90vh;
  width: 100%;
}

.ban3{
  background-image: url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1656422956/Zinma2.0/Frame_206_ux6sbv.png);
  height: 90vh;
  width: 100%;
}

.slide-up {
  animation: slide-up 1.9s cubic-bezier(0.65, 0, 0.35, 1)
}

@keyframes slide-up {
  0% {
    transform: translateY(80px)
  }
  100%{
    transform: translateY(0)
  }
}

.slide-down {
  animation: slide-down 1.9s cubic-bezier(0.65, 0, 0.35, 1)
}

@keyframes slide-down {
  0% {
    transform: translateY(-80px)
  }

  100% {
    transform: translateY(0px)
  }
}

.carousel-item {
  transition: transform 0.5s ease-out;
}
