.carousel-points {
  width: 14px !important;
  border-radius: 50%;
  height: 14px !important;
  box-sizing: content-box;
  flex: 0 1 auto;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

.carousel {
  // z-index: 1;
}

 .img-carrousel {
    position: relative;
    top: 100px;
 }

.ban {
  background-image: url(https://storage.googleapis.com/zinmaimages/DJI_0874_1_hflxst_jrk8wf.webp);
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.ban-1 {
  color: white;
  font-family: 'Trump Gothic';
  font-weight: 700;
  font-size: 20px;
  line-height: 24.48px;
}
.line {
  border: 1px solid white;
  opacity: 1;
}
.ban-2 {
  font-family: 'Trump Gothic';
  font-size: 150px;
  font-weight: 700;
  line-height: 100.72%;;
  color: #FFFFFF;
}
.ban-3 {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 127%;
  color: #FFFFFF;
  width: 547px;
  margin-top: 30px;
}
.boton-w {
  background: #FFFFFF;
  border-radius: 28px;
  color: rgba(127, 129, 109, 1);
  text-decoration: none;
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 18px 40px;
  gap: 12px;
}
.boton-w:hover {
  background: #dcdbdb;
  color: rgba(127, 129, 109, 1);
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out
}

.ban2{
  background-image: url(https://storage.googleapis.com/zinmaimages/Frame_205_tamood_aw5sxu.webp);
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.ban3{
  background-image: url(https://storage.googleapis.com/zinmaimages/Frame_206_ux6sbv.png);
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-up {
  animation: slide-up 1.9s cubic-bezier(0.65, 0, 0.35, 1)
}

@keyframes slide-up {
  0% {
    transform: translateY(80px)
  }
  100%{
    transform: translateY(0)
  }
}

.slide-down {
  animation: slide-down 1.9s cubic-bezier(0.65, 0, 0.35, 1)
}

@keyframes slide-down {
  0% {
    transform: translateY(-80px)
  }

  100% {
    transform: translateY(0px)
  }
}

// .carousel-item {
//   transition: transform .6s ease-in-out;
// }

// .carousel-indicators {
//   width: 15px !important;
//   height: 15px !important;
// }

@media screen and (max-width: 768px) {

  .ban-1 {
    font-size: 13px;
  }

  .ban-3 {
    font-size: 10px;
    width: 60%;
  }


}

.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
  background-color: #fff !important;
}
