.footer {
  background-color: rgba(165, 143, 115, 1);
}

.border-bottom {
  border-bottom: 1px solid #fff7f0c8;
}

.zinma-foot {
  font-family: "Oakes Grotesk";
  font-size: 14px;
  font-weight: 300;
}
