.title-products {
  font-size: 70px;
  color: var(--main-font-color);
  text-align: center;
  margin-top: 7%;
  font-family: "Trump Gothic";
}

.img-photo{
  width: 300px;
  height: 450px;
  z-index: -1;
}

.img-2 {
  display: block;
  position: relative;
}

.img-2:hover {
  display: none;
 .img-3 {
    display: block;
    transition: 0.6s;
    clip-path: circle(95.8% at 23% 49%);
 }
}
.img-3 {
  display: none;
  position: relative;
  .img-photo2 {
    width: 300px;
    height: 450px;
    z-index: -1;
    opacity: 0.2;
    }
  .img-bolsa2 {
    position: absolute;
    width: 130px;
    height: 194px;
    top: 69px;
    left: 77px;
    z-index: 1;
  }
  h2 {
    position: absolute;
    top: 284px;
    left: 107px;
    z-index: 1;
    font-family: 'Trump Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 103.5%;
    color: #7F816D;
  }
  .bton {
    z-index: 1;
    position: absolute;
    top: 305px;
    left: 61px;
  }
}




.img-bolsa{
  width: 46px;
  height: 68px;
  position: absolute;
  top: 371px;
  left: 247px;
  z-index: 1;
}

.boton2 {
  font-size: 16px;
  color: rgba(165, 143, 115, 1) ;
  text-decoration: none;
  font-family: "Oakes Grotesk";
  font-weight: 600;
  text-decoration: none;
  margin-bottom: 0;
}

.fle{
  content: url("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658943725/Zinma2.0/arrow2_rqjbxf.svg");
  margin: 0;
}


.boton2:hover {
  color:var(--main-font-color) ;
}

.btn-mx span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width:289px;
  padding: 14px;
}

.btn-mx span::after {
  content: url("https://res.cloudinary.com/ddlmgs04n/image/upload/v1658943243/Zinma2.0/arrow_1_wq1ttn.svg");
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.btn-mx:hover span {
  padding-right: 25px;
  color: var(--main-font-color);
}

.btn-mx:hover span:after {
  opacity: 1;
  right: 0;
}

.banner2 {
  height: 671px;
  background-image: url("https: //res.cloudinary.com/ddlmgs04n/image/upload/v1673620221/Zinma2.0/DSC06257_1_d0c22j_ie6t7u.webp");
  background-position: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;


  .img-banner2 {
    background: linear-gradient(90deg, rgba(51, 51, 51, 0.5) 0%, rgba(51, 51, 51, 0.35) 39.37%, rgba(51, 51, 51, 0.2) 60.77%, rgba(51, 51, 51, 0.08) 81.91%, rgba(51, 51, 51, 0) 100%);
    z-index: -1;
  }
}
.cont {
  font-family: "Trump Gothic";
  font-weight: 100;
  font-size: 100px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  z-index: 1;
  line-height: 114.72%;
  position: relative;
  top: 0px;
  left: 0px;
  text-align: center;
  max-width: 817px;
}

.donde-title{
  font-family: "Trump Gothic";
  font-weight: bold;
  font-size: 70px;
  color: var(--main-font-color);
}

.donde-desc {
  font-family: "Oakes Grotesk";
  font-weight: 400;
  font-size: 16px;
  color: #A58F73;
  width: 474px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu a span:first-child {
  display: inline-block;
  padding: 10px;
}

.menu a {
  display: block;
  position: relative;
  overflow: hidden;
}

.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.menu a span {
  transition: transform 0.3s ease-out;
}

.menu a:hover span:first-child {
  transform: translateY(100%);
}

.menu a:hover span:last-child {
  transform: none;
}


.img-22{
  position: relative;
  display: block;
  .alfa {
    width: 300px;
    height: 450px;
    z-index: -1;
  }
  .alf-bolsa {
    position: absolute;
    width: 46px;
    height: 68px;
    top: 371px;
    left: 247px;
    z-index: 1;
  }
}

.img-33 {
  position: relative;
  display: none;
  .alfa-bolsa2 {
    position: absolute;
    width: 130px;
    height: 194px;
    top: 69px;
    left: 77px;
    z-index: 1;
  }
  .alfa2 {
    width: 300px;
    height: 450px;
    background: #FFFFFF;
    opacity: 0.2;
    box-shadow: 0px 4px 40px 5px rgba(159, 159, 159, 0.05);
  }
    h2 {
      position: absolute;
      top: 284px;
      left: 107px;
      z-index: 1;
      font-family: 'Trump Gothic';
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 103.5%;
      color: #7F816D;
    }
    .bton {
      z-index: 1;
      position: absolute;
      top: 305px;
      left: 61px;
    }
}

.arrow {
  position: absolute;
  left: 734.28px;
  top: 909px;
}

.scroll {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.mapardo {
  overflow-x: hidden;
  padding-top: 109px;
}

.intro-mapa {
  height: 866px;
  background-color: var(--main-bg-color);
}

.intro3 {
  background-color: var(--main-bg-color);
  height: 626px;
}

.plantas {
  overflow-x: hidden;

}


@media screen and (max-width: 767px) {
  .title-zinma {
    margin: auto;
    margin-top: 44px;
  }
    .intro3 {
      background-color: var(--main-bg-color);
      height: 385px;
    }
  .description-zinma {
    text-align: center;
    padding: 25px;
  }
  .boton-div {
    display: flex;
    justify-content: center;
  }
  .title-products {
    font-size: 42px;
  }

  .scroll {
    overflow-x: scroll;
    width: 100%;
    margin: 12px;
    display: flex;
    justify-content: flex-start;
  }
  .banner2 {
    display: flex;
    justify-content: center;
    align-items: center;

  .img-banner2 {
    display: block;
  }

  .cont {
    font-size: 50px;
    position: relative;
    top: 0;
    left: 0;
  }
  }
  .plantas {
    display: none;
  }
  .donde-title {
    font-size: 50px;
    width: fit-content;
  }
  .donde-desc {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
  .toc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pro-primer {
    display: none !important;
  }
  .flechas {
    display: none;
  }
  .boton {
    font-size: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-boton {
    width: 239px;
  }

  .intro {
    height: 556px;
  }

  .svg {
    position: relative;
    left: -134px;
   }

  .footerhover {
    padding: 0.5rem;
  }
  .mapardo {
    overflow-x: hidden;
    padding-top: 0px;
  }
  .menu {
    margin: 10px;
  }
}

@media screen and (max-width: 394px) {
  .boton-w {
    font-size: 12px;
  }

  .ban-2 {
    font-size: 40px;
  }
    .mapardo {
      padding-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 968px) {
    .scroll {
      overflow-x: scroll;
      width: 100%;
      margin: 12px;
      display: flex;
      justify-content: flex-start;
    }
    .plantas {
      overflow-x: hidden;
      height: 331px;
    }
    .mapardo {
      overflow-x: hidden;
      padding-top: 101px;
    }
    .burger {
      display: block;
    }
    .selector {
      display: none;
    }
    .down-navbar {
      background-color: whitesmoke;
      position: absolute;
      top: 108px;
      left: 0;
      height: max-content;
      width: 100%;
      text-align: center;
    }
        .navbar-collapse {
          height: 398px;
        }

        .navbar-nav {
          font-size: 47px;
          align-items: flex-start;
          z-index: 1;
          background: white;
          position: relative;
        }

        .nav-letter {
          font-size: 26px;
        }
        .intro {
          height: 437px;
        }
        .carousel {
          height: 90vh;
        }
                .menu {
                  margin: 10px;
                }
}


@media screen and (max-width: 1278px) {
  .scroll {
      overflow-x: scroll;
      width: 100%;
      margin: 12px;
      display: flex;
      justify-content: flex-start;
    }
}
@media (min-width: 1500px) and (max-width: 1968px) {
  .plantas {
    width: 805px;
  }
}
