.intro {
  background-color: var(--main-bg-color);
  height: 624px;
}


.title-zinma {
  margin-top: 7%;
  font-size: 60px;
  // letter-spacing: 4px;
  color: var(--main-font-color);
  font-family: "Trump Gothic";
  font-weight: bold;
  position: relative;
  width: max-content;
  place-content: center;
}

.title-zinma::before,
.title-zinma::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.title-zinma::before {
  background: var(--main-bg-color);
  animation: typewriter 6s steps(11) 1s forwards;
}

.title-zinma::after {
  width: 0.125em;
  height: 70px;
  background: rgb(174, 174, 174);
  animation: typewriter 6s steps(11) 1s forwards,
    blink 750ms steps(11) infinite;
}


@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.description-zinma {
  color: rgba(165, 143, 115, 1);
  font-size: 16px;
  padding-top: 3%;
  padding-bottom: 7%;
  font-family: "Oakes Grotesk" ;
  font-weight: 400;
}

.boton {
  background-color: var(--main-font-color) ;
  width: 178px;
  height: 52px;
  border-radius: 28px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Oakes Grotesk";
  font-weight: 500;
}
