.intro {
  background-color: var(--main-bg-color);
  height: 624px;
}


.title-zinma {
  margin-top: 7%;
  font-size: 60px;
  // letter-spacing: 4px;
  color: var(--main-font-color);
  font-family: "Trump Gothic";
  font-weight: bold;
  position: relative;
  width: max-content;
  place-content: center;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

.description-zinma {
  color: rgba(165, 143, 115, 1);
  font-size: 16px;
  padding-top: 3%;
  padding-bottom: 7%;
  font-family: "Oakes Grotesk" ;
  font-weight: 400;
}

.boton {
  background-color: var(--main-font-color) ;
  width: 178px;
  height: 61px;
  border-radius: 28px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-family: "Oakes Grotesk";
  font-weight: 500;
  border: none;
}

.boton:hover {
  border: 1px solid #7F816D;
  color:rgba(127, 129, 109, 1);
  background-color: transparent;
}
