.fondo-modal {
  background: #FFFFFF;
  border-radius: 8px;
  width: 680px;
  height: 463px;
  padding: 20px;
}



@media screen and (max-width: 768px) {
.fondo-modal {
    background: #FFFFFF;
    border-radius: 8px;
    width: 363px;
    height: 558px;
    padding: 20px;
  }
}
