.logo {
  height: 37px;
  width: 135px;
}

.navbar {
  height: 108px;
  box-shadow: 0px 4px 20px 2px rgba(208, 208, 208, 0.15);
}

.nav-letter {
  color: rgba(127, 129, 109, 1);
  font-size: 16px;
  text-align: center;
  font-family: "Oakes Grotesk";
  font-weight: 400;
}

.nav2-link {
  display: inline-block;
  margin-block: 2px;
  text-decoration: none;
  color:rgba(127, 129, 109, 1) ;
  position: relative;
}

.nav2-link::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: rgba(60, 60, 60, 0.634);
  border-radius: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .25s ease;

}

.nav2-link:hover::after {
  transform: scaleX(1);
}

.nav2-link:hover {
  color:rgba(39, 38, 38, 0.634) ;
}

.selector {
  height: 50px;
}

.selectField {
  width: 92px;
  height: 61px;
  padding: 11px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.selectField.active,
.selectField:hover {
    background-color: #f8f6f45b;
}

.selectText {
  display: flex;
  align-items: flex-end;
}

.list {
      width: 70px;
        background: #eeeeeec9;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        padding: 0;
        box-shadow: 1px 1px 2px #d6d6d6;
        z-index: 2;
}

.options {
  width: 100%;
  padding: 15px;
  list-style: none;
  cursor: pointer;
  box-sizing: border-box;
}

.options:hover {
  background: rgba(0, 0, 0, 0.185);
}

.hide{
  visibility: hidden;
}

.disactive {
  display: none;
}
