.nosotros-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1656731954/Zinma2.0/Maskgroup_wxvmcv.png);
    width: 100%;
    height: 471px;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      color: #FFFFFF;
      font-family: 'Trump Gothic';
      font-weight: 700;
      font-size: 100px;
      line-height: 114.72%;
    }
  }

.quienes-title {
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100.72%;
  color: #6C7059;
}

.quienes-descr {
  padding-left: 3rem;
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #A58F73;
}

.title-obj {
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 100.72%;
  display: flex;
  align-items: center;
  color: #6C7059;
}

.descr-obj {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #A58F73;
  margin-top: 30px;
}
