.product-banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(https://res.cloudinary.com/ddlmgs04n/image/upload/v1656419897/Zinma2.0/Mask_group_qxe76f.png);
  width: 100%;
  height: 471px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  h1{
  color: #FFFFFF;
  font-family: 'Trump Gothic';
  font-weight: 700;
  font-size: 100px;
  line-height: 114.72%;
  }
}

.font {
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100.72%;
  display: flex;
  align-items: center;
  color: #D2D2D2;
  padding: 1.5rem
}

.font-select{
  font-family: 'Trump Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100.72%;
    display: flex;
    align-items: center;
    color: #272727;
    border-bottom: 6px solid #A58F73;
    padding: 1.5rem
}

.bolsa {
  width: 166px;
  height: 245px;
}

.font-pro{
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100.72%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6C7059;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.desc-pro {
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #A58F73;
}
.desc-pro2 {
  font-family: 'Oakes Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 145%;
    display: flex;
    justify-content: flex-start;
    color: #A58F73;
    padding-left: 40px;
}

.pro-primer {
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100.72%;
  color: #6C7059;
  position: absolute;
  left: 321px;
  display: flex;
  justify-content: center
}

.pro-rend {
  font-family: 'Trump Gothic';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 100.72%;
  color: #6C7059;
  position: absolute;
  left: 949px;
}

.font2 {
  color: #D2D2D2;
  text-decoration: none;
}

.font2:hover {
  color: #9a9a9a;
}

.font-select2 {
  color: #272727;
  text-decoration: none;
}

.font-select2:hover {
  color: #272727;
}

.categoria {
  color: rgba(210, 210, 210, 1);
  margin: 25px;
  text-decoration: none;
}

.categoria:hover {
  color: rgb(169, 169, 169);
  text-decoration: none;
}

.espaciador {
  height: 15px !important;
  border-right: 1px solid #D2D2D2;
  opacity: 0.8;
  border-radius: 10px;
  margin: 30px;
}

.espaciador2 {
  width: 0px;
  height: 200px !important;
  border-right: 2px solid #D2D2D2;
  opacity: 0.8;
  margin: 10px;
}

.card-type {
  background: rgba(108, 112, 89, 0.1);
  color:rgba(108, 112, 89, 1);
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 114.72%;
  text-align: center;
  width: 195px;
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration:none;
  margin: 10px;
  border: none;
}

.card-type:hover {
  background-color: rgba(33, 33, 33, 0.1);
}

.card-type:active {
  border: 1px solid gray;
}

.grid-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.active2 {
  color: #A58F73;
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 145%;
  text-decoration: none;
}
.fade:not(.show) {
  display: none;
  opacity: 1;
}

.btn-ficha {
  background: #FFFFFF;
  border: 1px solid #7F816D;
  border-radius: 28px;
  color:rgba(127, 129, 109, 1);
  font-family: 'Oakes Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 263px;
}
.col-5s {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.products-zinmas {
  margin: 0 auto;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .font-pro {
    padding-left: 0px;
  }
  .font-select {
    font-size: 20px;
    border-bottom: 5px solid #A58F73;
    padding: 0.5rem
  }
  .font {
    font-size: 20px;
    padding: 0.5rem
  }
  .espaciador {
    display: none;
  }
  .espaciador2 {
    display: none;
  }
  .categoria {
    margin: 10px;
  }
  .grid-card {
    grid-template-columns: 1fr;
    margin: 20px;
  }
  .col-5s {
    flex: none;
    width: 100%;
  }

  .desc-pro {
    width: 80%;
    font-size: 13px;
  }
  .desc-pro2 {
    padding: 0px;
    width: 90%;
  }

  .products-zinmas {
    margin: 10px;
    width: 100%;
  }

  .pro-primer,
  .pro-rend,
  .flechas-pro {
    display: none;
  }
    .bolsa {
      display: none;
    }
  .m-sm-5 {
    margin-top: 12px;
  }


}
@media (min-width: 768px) and (max-width: 968px) {
  .espaciador2 {
      display: none;
    }
  .col-5s {
    flex: none;
    width: 100%;
  }

  .products-zinmas {
    margin: 0 auto;
    width: 100%;
  }
    .pro-primer,
    .pro-rend,
    .flechas-pro {
      display: none;
    }

}
