<div class="product-banner">
  <h1><%= t 'product-title' %></h1>
</div>


<div class="container m-5">
  <div class="d-flex">
    <% @products.each do |product| %>
      <h2 class="p-4 font"><%= product.name %></h2>
    <% end %>
   </div>
</div>

<div class="intro">
  <% if @products == "Al" %>

  <% end %>

</div>
